#qAndA{
    border: .5vw ridge #a8afbd;
    background-color: #404652;
    padding: 2vh 5vw;
    border-radius: 25px;
}

#input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    text-align: left;
}
#a1{
    max-width: 60vw;
    min-width: 20vw;
    min-height: 5vh;
}
#a2{
    max-width: 60vw;
    min-width: 20vw;
    min-height: 5vh;
}
#a3{
    max-width: 60vw;
    min-width: 20vw;
    min-height: 5vh;
}
